 <div id="register">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="registration-form" class="form" novalidate>
                            <h3 class="text-center text-info">Register</h3>
                            <div class="form-group">
                                <label for="txtFirstName" class="text-info">First Name:</label><br>
                                <input type="text" class="form-control" id="txtFirstName" placeholder="Enter first name" name="txtFirstName">
                            </div>
                             <div class="form-group">
                                <label for="txtLastName" class="text-info">Last Name:</label><br>
                                <input type="text" class="form-control" id="txtLastName" placeholder="Enter last name" name="txtLastName">
                            </div>
                             <div class="form-group">
                                <label for="txtEmail" class="text-info">Email:</label><br>
                                <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="txtEmail">
                            </div>
                            <div class="form-group">
                                 <label for='gender' class="text-info">Gender:</label>
                                <p class='container'>
                                    <label><input type='radio' name='gender' value='M' checked />Male</label>
                                    <label><input type='radio' name='gender' value='F' />Female</label>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="txtDob" class="text-info">Date of Birth:</label><br>
                                <input type="date" class="form-control" id="txtDob"  name="txtDob">
                            </div>
                             <div class="form-group">
                                <label for="txtMobile" class="text-info">Mobile Number:</label><br>
                                <input type="phone" class="form-control" id="txtMobile" placeholder="Enter mobile number" name="txtMobile">
                            </div>
                             <div class="form-group">
                                <label for="txtFax" class="text-info">Enter Fax:</label><br>
                                <input type="phone" class="form-control" id="txtFax" placeholder="Enter Fax" name="txtMobile">
                            </div>
                            <div class="form-group">
                                <label for="txtPassword" class="text-info">Password:</label><br>
                                <input type="password" class="form-control" id="txtPassword" placeholder="Enter password" name="txtPassword">
                            </div>
                             <div class="form-group">
                                <label for="txtConfirmPassword" class="text-info">Confirm Password:</label><br>
                                <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Enter password again" name="txtConfirmPassword">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                 <input type="button"  class="btn btn-danger btn-md" id="btn-cancel-registration" value="cancel">
                            </div>          
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>